**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/logs
**/node_modules
**/.gitignore
**/README.md
**/PROGRESO.md
**/EJECUCION.md
**/AMBIENTE_DATOS_DEMO.md
**/Minutas_Reuniones_PEIA_ARIEL.docx
**/PEIA_Informe_Entrega_Final.docx
**/Bitacora_Actividades_JCRF.docx
**/Minuta_Reunion_PEIA_08JUL2026.docx
**/Reporte_Avance_JCRF_10JUL2026.docx
**/*.docx
**/*.png
**/*.sql
**/tests
**/ux
**/log
**/.github
**/.config
**/crear_estructura.ps1
**/generar_*.py
**/render.yaml
